@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-style: initial;
    line-height: 1.6;
    background-color: #f4f4f9;
    padding: 20px;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.personal-info {
    max-width: 60%;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    font-size: 2em;
    margin: 0px 0;
}

p {
    color: #555;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#skills {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
}

#skills ul {
    list-style: none;
}

#skills ul li {
    margin: 5px 0;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
  }
  
  button {
    background-color: #4c93af;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0px;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #c2a368;
  }
  
#heading {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: center;
  color: #333;
  margin: 20px 0;
}

